.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*header*/

.header-main {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-list {
    display: none;
}

.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    align-items: flex-start;
    padding: 16px 0;
}

.logo-text {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .header-nav-list {
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }
    .header-main .container {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: flex-start;
        margin-right: 120px;
        padding: 24px 0;
    }

        .header-nav-list {
            display: flex;
            align-items: flex-start;
            gap: 40px;
        }
    
        .header-nav-list:last-child {
            margin-right: 0;
        }
    
        .link-header {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .link-header:focus,
        .link-header:hover {
            color: #404BBF;
        }
    
        .link-header-one {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            /* color: #2e2f42; */
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            color: #404BBF;
        }
    
        .link-header-one::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            bottom: -1px;
            left: 0;
        }

        .contacts {
            font-style: normal;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 12px;
        }

        .contacts-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .contacts-list:last-child {
            margin-right: 0px;
        }

        .address-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .address-link:focus,
        .address-link:hover {
            color: #404BBF;
        }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    .contacts {
        gap: 40px;
    }
    .contacts-list {
         flex-direction: row;
         gap: 40px;
    }
    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

 .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }

 .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
 }

 .mobile-menu-container  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
 }

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}